<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <center>
    <h1>csk html page</h1>
    <h1><a href="{% url 'appY:rcb' %}">rcb page</a></h1>
    <h1><a href="{% url 'appY:rcb1' %}">rcb1 page</a></h1>
    <h1><a href="{% url 'mumbai' %}">mumbai page</a></h1>
    <h1><a href="{% url 'mumbai1' %}">mumbai1 page</a></h1>
   </center> 
</body>
</html>